<div *ngIf="!listado">
  <span #cargando>
    <ng-content select="cargando"></ng-content>
  </span>
  <span *ngIf="!cargando.innerHTML.trim()">
  <img
    src="http://pa1.narvii.com/6707/510b0daee67fbc091f14b9d8ef40aeb6c0d4dc7d_00.gif"
  />
</span>
</div>

<div *ngIf="listado?.length === 0">
  <span #vacio><ng-content select="[vacio]"></ng-content></span>
  <span *ngIf="!vacio.innerHTML.trim()">
  <p>No hay peliculas para mostrar</p>
</span>
</div>

<ng-container *ngIf="listado && listado.length > 0">
  <ng-content select="[contenido]"></ng-content>
</ng-container>
